<!DOCTYPE html>             <!-- Declare that this an HTML5 document. -->
<html lang="en">            <!-- Declare the content language. -->
<head>
    <meta charset="utf-8">  <!-- Declare the document's character set. -->
    <title>Multiple Scripts Project Template</title>    <!-- Set the page title.  Will be displayed at the top of the browser window and in bookmarks.  -->
    <link rel="stylesheet" href="index.css">    <!-- Include styles from index.css. -->
</head>
<body>

    <h1>Multiple Scripts Project Template</h1>

    <p>This template demonstrates separating your JavaScript into multiple files.</p>

    <p>When your document includes more than one script, either inline or external, each script is considered a separate program &mdash; one script crashing will not interfere with the others.</p>

    <p>However, they still share the global object, which means that global variables and functions declared in one script will be accessible to other scripts (assuming they are loaded in the correct order).</p>

    <!-- It is recommended to put <script> tags at the end of the <body>. -->
    <script src="lib1.js"></script>     <!-- Include lib1.js as a JavaScript script file. -->
    <script src="lib2.js"></script>     <!-- Include lib2.js as a JavaScript script file. -->
    <script src="index.js"></script>    <!-- Include index.js as a JavaScript script file last because it depends on lib1.js and lib2.js. -->

</body>
</html>

