<!DOCTYPE html>             <!-- Declare that this an HTML5 document. -->
<html lang="en">            <!-- Declare the content language. -->
<head>
    <meta charset="utf-8">  <!-- Declare the document's character set. -->
    <title>Webpack Project Template</title>   <!-- Set the page title.  Will be displayed at the top of the browser window and in bookmarks.  -->
    <link rel="stylesheet" href="index.css">    <!-- Include styles from index.css. -->
</head>
<body>

    <h1>Webpack Project Template</h1>

    <p>
        This template demonstrates using Webpack to bundle assets,
        and is based on the <a href="http://localhost:3000/templates/one-file-per-type/">One-File-Per-Type</a> template.
    </p>

    <p>
    </p>

    <!-- It is recommended to put <script> tags at the end of the <body>. -->
    <script src="bundle.js"></script>    <!-- Include index.js as a JavaScript script file. -->

</body>
</html>

