<!DOCTYPE html>             <!-- Declare that this an HTML5 document. -->
<html lang="en">            <!-- Declare the content language. -->
<head>
    <meta charset="utf-8">  <!-- Declare the document's character set. -->
    <title>All-in-One Project Template</title>  <!-- Set the page title.  Will be displayed at the top of the browser window and in bookmarks.  -->
    <style>

        /* Put your CSS in here.
           Also, notice CSS uses a different comment syntax than HTML. */

        body    {
            background-color: #eee;
        }

    </style>
</head>
<body>

    <h1>All-in-One Project Template</h1>

    <p>This template demonstrates combining your HTML, CSS, and JavaScript all in one file.</p>

    <!-- It is recommended to put <script> tags at the end of the <body>. -->
    <script>
        /* Put your JavaScript in here.
           Also, notice JavaScript uses a different comment syntax than HTML.
           It has multi-line comments like HTML and CSS.  */
        // But it also has a syntax for single-line comments.

        'use strict';   // Enable "strict mode".  Note: This *must* be the first statement in the script.
                        // See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode

        console.log( 'Hello world!' );      // Open your browser's Developer Console to see the output.

    </script>

</body>
</html>

