<!DOCTYPE html>             <!-- Declare that this an HTML5 document. -->
<html lang="en">            <!-- Declare the content language. -->
<head>
    <meta charset="utf-8">  <!-- Declare the document's character set. -->
    <title>One-File-Per-Type Project Template</title>   <!-- Set the page title.  Will be displayed at the top of the browser window and in bookmarks.  -->
    <link rel="stylesheet" href="index.css">    <!-- Include styles from index.css. -->
</head>
<body>

    <h1>One-File-Per-Type Project Template</h1>

    <p>This template demonstrates separating your HTML, CSS, and JavaScript in three separate files, one file per resource type.</p>

    <p>Note: All three files are named "index" because it's a sensible convention; they're not actually required to match.</p>

    <!-- It is recommended to put <script> tags at the end of the <body>. -->
    <script src="index.js"></script>    <!-- Include index.js as a JavaScript script file. -->

</body>
</html>

